trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - azure-pipelines.yml
      - '*.png'
      - README.md
      - '.gitignore'

pool:
  vmImage: 'ubuntu-latest'

variables:
  resourceGroupName: 'rg-automation-infra-testing'
  location: 'ukwest'

stages:
- stage: Deploy
  jobs:
  - job: Provision
    steps:
    # 1. Deploy the Bicep file
    - task: AzureResourceManagerTemplateDeployment@3
      name: DeployVM
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'Azure-Service-Connection' # Use the name from Step 1
        subscriptionId: '$(subscriptionId)'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: 'main.bicep'
        overrideParameters: '-adminPassword "P@ssword1234!"' # In real world, use a Secret Variable
        deploymentOutputs: 'deploymentOutputs'

    # 2. Extract the IP Address from Bicep Output
    - powershell: |
        # Convert the deployment JSON output into a PowerShell object
        $outputs = '$(deploymentOutputs)' | ConvertFrom-Json
        $ip = $outputs.vmIpAddress.value
        Write-Host "The VM IP is: $ip"
        # Save the IP as a variable for use in other tasks
        Write-Host "##vso[task.setvariable variable=VM_IP]$ip"
      displayName: 'Capture VM IP Address'

- stage: Test
  dependsOn: Deploy
  condition: succeeded()
  jobs:
  - job: RunPesterTests
    variables:
      # This pulls the variable we 'exported' in the previous stage
      VM_IP: $[ stageDependencies.Deploy.Provision.outputs['CaptureVMIP.VM_IP'] ]
    steps:
    - powershell: |
        # Install Pester if it's not there (usually is on hosted agents)
        Install-Module -Name Pester -Force -Scope CurrentUser
        
        # Run the test and output the results in NUnit format
        Invoke-Pester -Path "./VMReachability.Tests.ps1" -OutputFormat NUnitXml -OutputFile "TestResults.xml"
      displayName: 'Run Pester Reachability Tests'
      env:
        VM_IP: $(VM_IP) # Passes the IP into the script

    # This makes the results visible in the Azure DevOps 'Tests' tab
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'NUnit'
        testResultsFiles: 'TestResults.xml'
        failTaskOnFailedTests: true
      displayName: 'Publish Test Results'