trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  resourceGroupName: 'rg-automation-infra-testing'
  location: 'ukwest'
  # subscriptionId is pulled from the Pipeline UI Variables (Secret)

stages:
- stage: Deploy
  jobs:
  - job: Provision
    steps:
    - task: AzureResourceManagerTemplateDeployment@3
      name: DeployVM
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'Azure-Service-Connection' 
        subscriptionId: '$(subscriptionId)'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: 'main.bicep'
        overrideParameters: '-adminPassword "P@ssword1234!"' 
        deploymentOutputs: 'deploymentOutputs'

    - powershell: |
        # Parse the JSON output from the Bicep deployment
        $outputs = '$(deploymentOutputs)' | ConvertFrom-Json
        $ip = $outputs.vmIpAddress.value
        Write-Host "The VM IP captured is: $ip"
        
        # CRITICAL: isOutput=true allows the next stage to 'see' this variable
        Write-Host "##vso[task.setvariable variable=VM_IP;isOutput=true]$ip"
      name: CaptureVMIP # Internal name used for dependencies
      displayName: 'Capture VM IP Address'

- stage: Test
  dependsOn: Deploy
  condition: succeeded()
  jobs:
  - job: RunPesterTests
    variables:
      # Mapping the output from the previous stage to this job's scope
      VM_IP: $[ stageDependencies.Deploy.Provision.outputs['CaptureVMIP.VM_IP'] ]
    steps:
    - powershell: |
        # Ensure Pester is available
        Install-Module -Name Pester -Force -SkipPublisherCheck -Scope CurrentUser
        Import-Module Pester
        
        # Use Pester 5 Configuration object (Real-world standard)
        $config = New-PesterConfiguration
        $config.Run.Path = "./VMReachability.Tests.ps1"
        $config.TestResult.Enabled = $true
        $config.TestResult.OutputPath = "TestResults.xml"
        $config.TestResult.OutputFormat = "NUnitXml"
        
        # Execute tests
        Invoke-Pester -Configuration $config
      displayName: 'Run Pester Reachability Tests'
      env:
        VM_IP: $(VM_IP) # Injects the variable into the Pester environment

    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'NUnit'
        testResultsFiles: 'TestResults.xml'
        failTaskOnFailedTests: true
      displayName: 'Publish Test Results'